.App {
  text-align: center;
}

body {
  background-color: black;
}

.zone {
  color: white;
}

.zone:hover {
  color: rgb(211, 190, 0);
  box-shadow: 0 0 40px red;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 10px;
}

.img {
  height: 200px;
  width: 200px;
  background-size: cover;
  display: inline-block;
}